---
import { Badge } from '@/components/ui/badge'
import { formatDateMonthYear } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const { project } = Astro.props
---

{
    project.data.image && (
    <div class="max-w-3xs sm:shrink-0">
        <Image
        src={project.data.image}
        alt={project.data.name}
        width={1200}
        height={630}
        class="object-cover"
        />
    </div>
    )
}
<div class="grow">
    <h3 class="mb-1 text-lg font-medium">
    {project.data.name}
    </h3>
    <ul class="text-muted-foreground mb-2 text-sm list-disc pl-4">
      {project.data.description.map((line: string) => (
        <li>{line}</li>
      ))}
    </ul>
    {
    project.data.startDate && (
        <p class="text-muted-foreground/70 flex items-center gap-x-1.5 text-sm">
        <span class="flex items-center gap-x-1.5">
            <Icon name="lucide:calendar" class="size-3" />
            <span>
            {formatDateMonthYear(project.data.startDate)}
            {project.data.endDate
                ? ` → ${formatDateMonthYear(project.data.endDate)}`
                : ' → Present'}
            </span>
        </span>
        </p>
    )
    }
    {
    project.data.tags && (
        <div class="flex mt-2 flex-wrap gap-2">
        {project.data.tags.map((tag: string) => (
            <Badge variant="secondary">{tag}</Badge>
        ))}
        </div>
    )
    }
</div>
